@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=PT+Serif:ital@1&display=swap');

/* * {
    margin: 0;
    padding: 0;
    border: none;
} */

body {
    font-family: 'PT Serif', sans-serif;
    font-weight: 300;
    color: #d3d3d3;
    background-color: #5e4066;
}

/* headings  */

header {
    background-color: #c2b280;
}

header a h1 {
    font-family: 'League Gothic', sans-serif;
    font-weight: 300;
    font-size: 250%;
    letter-spacing: 2px;
    color: #36454f;
    text-decoration: none;
    /* background: url('../images/Gobekli-Tepe-banner.jpg') no-repeat center center; */
}

/* navigation links */

nav {
    font-family: 'League Gothic', sans-serif;
    font-weight: 250;
    font-size: x-large;
    letter-spacing: 2px;
}

#navi li {
    float: right;
    list-style: none;
    margin-right: 20px;
}

#navi a {
    text-decoration: none;
    color: #d3d3d3;
}

#navi a:hover {
    border-bottom: 1px solid #ffd700;
}

.active {
    border-bottom: 1px solid #d3d3d3;
}

/* banner image  */


