@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=PT+Serif:ital@1&display=swap');

body {
    font-family: 'PT Serif', sans-serif;
    font-weight: 300;
    color: #d3d3d3;
    background-color: #0a0a0a;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

/* header styling  */
header a h1 {
    font-family: 'League Gothic', sans-serif;
    font-weight: 300;
    font-size: 250%;
    letter-spacing: 2px;
    color: #36454f;
    background-color: #c2b280;
}

.title {
    text-transform: uppercase;
}

/* navigation links */
nav {
    font-family: 'League Gothic', sans-serif;
    font-weight: 250;
    font-size: x-large;
    letter-spacing: 2px;
}

#navi li {
    float: right;
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}

#navi a {
    text-decoration: none;
    color: #d3d3d3;
}

#navi a:hover {
    border-bottom: 1px solid #ffd700;
}

.active {
    border-bottom: 1px solid #d3d3d3;
}

/* home page text content  */
#text-upper {
    width: 300px;
    height: 450px;
    padding: 12px;
    border-radius: 6px;
    border-style: groove;
    border-color: #d3d3d3;
    border-width: 1px;
    color: #36454f;
    background-color: #c2b280;
}

#text-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-lower {
    width: 75%;
    height: 500px;
    padding: 15px;
    border-radius: 6px;
    border-style: groove;
    border-color: #d3d3d3;
    border-width: 1px;
    color: #36454f;
    background-color: #c2b280;
    align-items: center;
}

#main-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* homepage video content */
.tepe-vid-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 100%;
    height: 100%;
    margin: 10px;
}

iframe {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    color: #36454f;
    background-color: #c2b280;
}

#vid-breaker {
    width: 30px;
    color: #d3d3d3;
}

/*home page images */
#images {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 2px;
}

#images>img {
    width: 100%;
}

/* footer style  */
footer {
    background-color: #c2b280;
}

/* timeline styling */
#temple-timeline {
    background-color: #0a0a0a;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #d3d3d3;
    top: 0;
    bottom: 0;
    left: 55%;
    margin-left: -3px;
}

.panel {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.panel::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #d3d3d3;
    border: 4px solid #36454f;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -5%;
    text-align: right;
}

.right {
    left: 55%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -27px;
}

.left::after {
    left: 693px;
}

.timeline-content {
    color: #d3d3d3;
    text-shadow: #0a0a0a;
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    border-style: groove;
    opacity: 0.5;
    height: 300px;
}

.timeline-content:hover {
    opacity: 1;
    color: white;
}

.timeline-text-content {
    padding: 20px 30px;
    position: relative;
    height: 30px;
    width: 300px;
}

.text-content-left {
    float: right;
    padding-right: 15%;

}

.text-content-right {
    float: left;
    padding-left: 35%;
}

/* timeline images */
#amada {
    background-image: url(../images/Temple-of-Amada.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#ziggi {
    background-image: url(../images/Ziggurat-of-Ur.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#hypo {
    background-image: url(../images/Hal-Saflieni-Hypogeum.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#tarxien {
    background-image: url(../images/Tarxien-Temples.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#mnajdra {
    background-image: url(../images/Mnajdra.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#hagar {
    background-image: url(../images/Hagar-Qim.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#ggantija {
    background-image: url(../images/Ggantija.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#gobek {
    background-image: url(../images/Gobekli-Tepe-timeline.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/* styling for book links */
.reading-content {
    width: 60%;
    height: 400px;
    color: #0a0a0a;
    border: 2px solid #36454f;
    margin: 0 auto;
    padding: 5%;
    top: 15px;
    color: transparent;
    border-radius: 25px;
}

#book-links-one {
    display: inline-flexbox;
    column-count: 4;
}

#book-links-two {
    display: inline-flexbox;
    column-count: 4;
}

/* images for books */
#oldest {
    background-image: url(../images/oldest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#oldest:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

#magicians {
    background-image: url(../images/magicians.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#magicians:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

#genesis {
    background-image: url(../images/genesis2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

#genesis:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

#enigma {
    background: url(../images/enigma.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


#enigma:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

#murat {
    background: url(../images/murat.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


#murat:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

#origin {
    background: url(../images/origin.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


#origin:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

#kokoska {
    background: url(../images/bigbook.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


#kokoska:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

#visitors {
    background: url(../images/cassandra.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


#visitors:hover {
    background: #0a0a0a;
    text-decoration: solid;
    color: #d3d3d3;
}

/* book section text content */
.reading-content h2 {
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-weight: 100;
    font-size: xx-large;
}

.reading-content h4 {
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-weight: 50;
    font-size: large;
}

.reading-content p {
    text-transform: none;
    font-weight: 50;
    font-size: x-small;
}

p.amazon {
    text-decoration: dotted;
    font-size: large;
    font-family: 'League Gothic', sans-serif;
    font-weight: 50;
    text-decoration: none;
}


/* media querie: timeline on screens less than 1200px */
@media screen and (max-width: 1200px) {
    .timeline::after {
        left: 70px;
    }

    .panel {
        width: 75%;
        padding-left: 50px;
    }

    .panel::before {
        left: 37.5px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: -1px;
    }

    .right {
        left: 42.5px;
    }


    .left {
        left: 42.5px;
    }

    .text-content-left {
        float: left;
        margin-left: 90px;
    }

    .text-content-right {
        float: left;
        margin-left: -265px;
    }
}

/* media querie: timeline on screens less than 950px */
@media screen and (max-width: 950px) {
    .timeline::after {
        left: 70px;
    }

    .panel {
        width: 80%;
        padding-left: 52px;
    }

    .panel::before {
        left: 37.5px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: -1px;
    }

    .right {
        left: 42.5px;
    }


    .left {
        left: 42.5px;
    }

    .text-content-left {
        float: left;
        margin-left: 90px;
    }

    .text-content-right {
        float: left;
        margin-left: -175px;
    }
}

/* media querie: timeline on screens less than 600px */
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 70px;
    }

    .panel {
        width: 90%;
        height: 80%;
        padding-left: 50px;
        margin-top: 35px;
    }

    .panel::before {
        left: 37.5px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: -1px;
    }

    .right {
        left: 42.5px;
    }


    .left {
        left: 42.5px;
    }

    .text-content-left {
        float: left;
        margin-left: 90px;
        font-size: small;
    }

    .text-content-right {
        float: left;
        margin-left: -24px;
        font-size: small;
    }
}


/* media querie: Read more book links on screens less than 1200px */
@media screen and (max-width: 1200px) {
    .reading-content {
        width: 85%;
        height: 400px;
    }
}

/* media querie: Read more book links on screens less than 950px */
@media screen and (max-width: 950px) {
    .reading-content {
        width: 75%;
        height: 450px;
    }

    #book-links-one {
        display: inline-flexbox;
        column-count: 2;
    }

    #book-links-two {
        display: inline-flexbox;
        column-count: 2;
    }
}

/* media querie: Read more book links on screens less than 600px */
@media screen and (max-width: 600px) {
    .reading-content {
        width: 70%;
        height: 450px;
        overflow: hidden;
        
    }

    #book-links-one {
        display: inline-block;
        column-count: 1;
        margin: 0px;
    }

    #book-links-two {
        display: inline-block;
        column-count: 1;
        margin: 0px;
    }
}